@import "tailwindcss";




/* 선택: 보조 스타일 */
html, body {
  height: 100%;
  margin: 0;
  background-color: #f9fafb;
  color: #111827;
}
table { font-size: 14px; border-collapse: collapse; width: 100%; }
th, td { border: 1px solid #e5e7eb; padding: 8px; text-align: left; }
th { background-color: #f3f4f6; font-weight: 600; }
